Wing Lau

Data Bootcamp

Professor M. Waugh

February 16th 2018

# Code Practice #2

**Question 1:** Does this code run without error? If so, what does it produce? If not, explain why.

In [140]:
x = [1, 2, 3]
y = 'bootcamp'
z = x + y

TypeError: can only concatenate list (not "str") to list

The code runs with error, because the function "z = x + y" cannot add up two different types of code. 'x' is a list, and 'y' is a string.

**Question 2:** For the same x and y as the previous question: What function tells us what type
they are? What function tells us how many elements they contain?

In [147]:
print(type(x))
print(type(y))

<class 'list'>
<class 'str'>

In [148]:
print(len(x))
print(len(y))

3
8

**Question 3:** What type is each expression? How can you tell?

In [149]:
print(type(2)) #integer, because it is a number with no decimal
print(type('2')) #string, because it has quotations around it
print(type(2.0)) #float, because it has a decimal after it 
print(type("2.0")) #string, because it has quotations around it
print(type(2>1)) #boolean, because '>' denotes a comparison
print(type('Itamar' > 'Chase')) #boolean
print(type([1, 2])) #list, because "[]" denotes a list
print(type((1, 2))) #tuple
print(type({1: 'one', 2: 'two'})) #dictionary, as denoted by the colon

<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

By typing 'print' and 'type' prior to the code to determine the type.

**Question 4:** What value does each of these comparisons have?

In [150]:
1>=0

True

In [151]:
1 >=1

True

In [152]:
1 > 1

False

In [153]:
1==1

True

In [154]:
1 == 1.0

True

In [155]:
'Spencer' == "Spencer"

True

In [156]:
2**3 > 3**2

False

In [157]:
1>= 0 or 1<= 2

True

In [158]:
1>= 0 and 1 <=2

True

**Question 5:** Does this code run without error? If so, what does it produce? If not, how would you fix it?

In [159]:
if 2>1
    print('Yes, 2 is still greater than 1')

SyntaxError: invalid syntax (<ipython-input-159-07a70d6c9420>, line 1)

This code runs with error. Add ":" after "2>1" to fix it.

In [160]:
if 2>1:
    print('Yes, 2 is still greater than 1')

Yes, 2 is still greater than 1

**Question 6:** What is the result of running this code? Why?

In [161]:
if True:
    print('on the one hand')
else:
    print('but on the other hand')

on the one hand

The code runs "on the one hand" because 2 is greater than one, so it is True.

**Question 7:** What is the result of running this code?

In [162]:
cond = True
if cond:
    x = "Chase"
else:
    x = "Dave"
print(x)

Chase

The code results in "Chase", because it still pertains to the "if 2>1" code from Question 5. Since "cond" = True, it results in "Chase".

**Question 8:** Suppose we have two lists, x = [1, 2, 3, 4] and y = ['x', 'y', 'z']. Adapt the
code below to determine which has more elements:

In [163]:
x = [1,2,3,4]
y = ['x','y','z']

if len(x)>len(y):
    print('x has more')
else:
    print('y has at least as many')

x has more

**Question 9:** Explain in words what slicing does.

Slicing allows you to obtain single elements or 'sub-strings' of strings, and 'sub-lists' of lists.

**Question 10:** How would you extract (\slice") the first element (the integer 1) from the list x below? The
last element? All but the last element?

In [164]:
x = [1,2,3,4,5]

In [165]:
x[0] #The first element (integer 1)

1

In [166]:
x[4] #The last element (integer 5)

5

In [167]:
x[0:4] #All but the last element (integers 1 to 4)

[1, 2, 3, 4]

**Question 11:** Use slicing to extract each word from

In [168]:
sentence = 'This is a sentence; please slice it.'

In [169]:
print(sentence[0:4])
print(sentence[5:7])
print(sentence[8])
print(sentence[10:18])
print(sentence[20:26])
print(sentence[27:32])
print(sentence[33:35])

This
is
a
sentence
please
slice
it

**Question 12:** Consider the list

In [170]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]

a. How would you slice out the first item? The last item?

In [171]:
x[0]

1

In [172]:
x[9]

10

b. How would you slice out the items from 'b' to 3 inclusive?

In [173]:
x[3:7]

['b', 'fast', 'slow', 3]

**Question 13:** Using the same list x, write a loop that prints every element on a new line.

In [174]:
for item in x:
    print(item)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

**Question 14:** Challenging. Using the same list x, write a loop that prints every element of type str.

In [175]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
for item in x:
    if type(item) == str:
        print(item)

a
b
fast
slow
Raghu
Liuren

**Question 15:** Use Spyder's help to find out what the range function does. How would you describe
range(3,12,2)? Verify by converting to a list with list(range(3,12,2)).

The range function returns an object that produces a sequence of integers from start(inclusive) to stop (exclusive) by step. range(0,n) produces 0, 0+1, 0+2,..., n-1. When a step is given, it specifies the increment (or decrement). 

range(start,stop[,step])

In [1]:
# The range function specifies that it should 
# list out integers between 3 and 12, beginning at 3 and 
# going up by increments of 2 until 12-1. 

list(range(3,12,2))

[3, 5, 7, 9, 11]

**Question 16:** Challenging. Write a loop that sums the integers from zero to thirty that are multiples of
three: 3, 6, etc.

In [177]:
total = 0
for number in range(0,31,3):
    total = total + number
print(total)

165

**Question 17:** Define a function pocket_change() that takes four integers as inputs (numbers of pennies,
nickels, dimes, and quarters in your pocket) and returns a 
oating point number (their dollar
value). Run your program with the input (1, 2, 3, 4). Bonus (optional): Report the
value with a dollar sign.

In [178]:
def pocket_change (pennies, nickels, dimes, quarters):
    total = '$'+ str((1*pennies + 5*nickels + 10*dimes + 25*quarters)/100)
    print(total)
pocket_change(1,2,3,4)

$1.41

**Question 18:** Challenging. Write a function notsix() that takes a list of integers and returns a (shorter)
list of only those that do not begin with a 6. Test it on the list [1234, 6783, 6, 4321,
9876]. Hints: You can create a blank list with x = []. You can append item to it with
x.append(item).

In [179]:
x = [1234, 6783, 6, 4321, 9876]

def notsix(x):
    mylist = []
    for item in x:
        if str(item)[0] != "6":
            mylist.append(item)
    return(mylist)

print(notsix(x))

[1234, 4321, 9876]

**Question 19:** Challenging. Explain what this code does:

In [180]:
old_list = [1234, 6783, 6, 4321, 9876]
new_list = [x for x in old_list if str(x)[0] != "6"]
print(new_list)

# This code is a form of list comprehension, "x for x", 
# which is a way of saying new_list 
# is going to be composed of the items (x) in old_list 
# that fit the criteria: str(x)[first number] does not equal 6.

[1234, 4321, 9876]

**Question 20:** Consider the Python object

In [2]:
z = {1: 'one', 2: 'two', 3: 'three'}

a. What kind of object is z? What is its length?

In [213]:
print(type(z)) #dictionary
print(len(z))

<class 'dict'>
3

b. Which components are keys? Which are values?

Keys are the objects before the colons, values are the objects after the colons. In this case, the keys are 1,2 and 3. The values are 'one', 'two' and 'three'.

c. How would I get the value associated with the key 2?

In [214]:
print(z[2])

two

d. Use Spyder's help facilities to figure out what z.keys() does. Ditto z.values(). Try
them to verify.

In [224]:
z.keys()
# It displays z function's keys, thus showing [1,2,3]

dict_keys([1, 2, 3])

In [230]:
z.values()
# It displays z function's values, thus showing 'one', 'two', 'three'

dict_values(['one', 'two', 'three'])

e. What does list(z.keys()) do?

In [7]:
list(z.keys())
# It transforms the dictionary keys into a list.

[1, 2, 3]

f. What does list(z.values()) do?

In [5]:
list(z.values())
# It transforms the dictionary values into a list.

['one', 'two', 'three']

g. What does list(z) do?

In [11]:
list(z)
# It displays the dictionary(z) keys as a list.

[1, 2, 3]